<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
	<resultMap id="file"
		type="iot5.project.shilla.model.File">
		<result property="id" column="id" />
		<result property="category" column="category" />
		<result property="originName" column="origin_name" />
		<result property="fileDir" column="file_dir" />
		<result property="fileName" column="file_name" />
		<result property="contentType" column="content_type" />
		<result property="fileSize" column="file_size" />
		<result property="regDate" column="reg_date" />
		<result property="editDate" column="edit_date" />
		<result property="qnaFile" column="qna_file" />
		<result property="roomImg" column="room_img" />
		<result property="packageImg" column="package_img" />
	</resultMap>
	
	
	
	
	
	
</mapper>