<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FileMapper">

	<resultMap id="hotel"
		type="iot5.project.shilla.model.Hotel">
		<result property="category" column="category" />
		<result property="tel" column="tel" />
		<result property="zipcode" column="zipcode" />
		<result property="addr" column="addr" />
	</resultMap>
	
	<!-- 호텔의 정보를 저장한다. -->
	<insert id="insertHotel" parameterType="iot5.project.shilla.model.Hotel"
		useGeneratedKeys="false" keyProperty="category">
		INSERT INTO hotel(
			category, tel, zipcode, addr
		) VALUES (
			#{category}, #{tel}, #{zipcode}, #{addr}
		)
	</insert>
	
	<!-- 호텔을 조회한다. -->
	<select id="selectHotel" parameterType="iot5.project.shilla.model.Hotel" 
		resultMap="hotel">
		SELECT category, tel, zipcode, addr
		FROM   hotel
		WHERE  category=#{category}
	</select>
	
	<!-- 호텔을 삭제한다. -->
	<delete id="deleteHotel" parameterType="iot5.project.shilla.model.Hotel">
		DELETE FROM hotel WHERE category=#{category}
	</delete>
	
</mapper>