<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReservationMapper">
	<resultMap id="reserv" type="iot5.project.shilla.model.RoomForReserv">
		<result property="id" column="resv_room.id" />
		<result property="roomId" column="room_id" />
		<result property="roomNo" column="room_no" />
		<result property="checkIn" column="check_in" />
		<result property="checkOut" column="check_out" />
		<result property="roomType" column="room_type" />
		<result property="bedType" column="bed_type" />
		<result property="exbed" column="exbed" />
		<result property="meal" column="meal" />
		<result property="resvDate" column="resv_date" />
		<result property="memberId" column="member_id" />
		<result property="hotelCate" column="hotel_category" />
		<result property="guestId" column="resv_guest.id" />
		<result property="cardNo" column="card_no" />
		<result property="cardType" column="card_type" />
		<result property="cardYy" column="card_yy" />
		<result property="cardMm" column="card_mm" />
		<result property="pplAd" column="ppl_ad" />
		<result property="pplCh" column="ppl_ch" />
		<result property="pplBb" column="ppl_bb" />
		<result property="detail" column="detail" />
		<result property="resvRoomId" column="resv_room_id" />
		<result property="roomPrice" column="room_price" />
		<result property="datepickerS" column="datepickerS" />
		<result property="datepickerE" column="datepickerE" />
	</resultMap>
	<!-- ######## -->
	<!-- ##입력## -->
	<!-- ######## -->
	<!-- 예약 : 객실정보 -->
	<insert id="insertReservRoom" parameterType="iot5.project.shilla.model.RoomForReserv" 
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO resv_room (
			room_id, check_in, check_out, exbed, meal,
			resv_date, member_id, hotel_category
		) VALUES (
			#{roomId}, #{checkIn}, #{checkOut}, #{exbed}, #{meal},
			#{totalPrice}, now(), #{memberId}, #{hotelCate}
		)
	</insert>
	<!-- 예약 : 고객정보 -->
	<insert id="insertReservGuest" parameterType="iot5.project.shilla.model.RoomForReserv" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO resv_guest (
			card_no, card_type, card_yy, card_mm, ppl_ad, ppl_ch, ppl_bb, detail, member_id, resv_room_id
		) VALUES (
			#{cardNo}, #{cardType}, #{cardYy}, #{cardMm}, #{pplAd}, #{pplCh}, #{pplBb}, #{detail}, #{memberId}, #{resvRoomId}
		)
	</insert>
	<!-- ######## -->
	<!-- ##수정## -->
	<!-- ######## -->
	
	<!-- ######## -->
	<!-- ##삭제## -->
	<!-- ######## -->
	
	<!-- ######## -->
	<!-- ##조회## -->
	<!-- ######## -->
	<!-- 회원아이디와 일치하는 예약 건수를 조회한다 -->
	<select id="selectReservationCount" parameterType="iot5.project.shilla.model.RoomForReserv" resultType="int">
		SELECT count(id)
		FROM   resv_room
		WHERE  member_id=#{memberId}
    </select>
    <!-- 회원아이디와 일치하고 체크인날짜범위에 위치하는 예약 건수를 조회한다 -->
    <select id="selectReservationCountByDate" parameterType="iot5.project.shilla.model.RoomForReserv" resultType="int">
		SELECT count(id)
		FROM   resv_room
		WHERE  member_id=#{memberId} AND (DATE_FORMAT(check_in, '%Y-%m-%d') BETWEEN #{datepickerS} AND #{datepickerE})
    </select>
	<!-- 회원아이디와 일치하는 예약의 정보를 조회한다 -->
	<select id="selectReserv" parameterType="iot5.project.shilla.model.RoomForReserv" resultMap="reserv">
		SELECT id
		FROM   resv_room
    	WHERE  member_id=#{memberId} AND room_id=#{roomId} AND check_in=#{checkIn} AND check_out=#{checkOut}
	</select>	
	<!-- 예약된 객실아이디와 일치하는 예약정보를 조회한다 -->
	<select id="selectReservById" parameterType="iot5.project.shilla.model.RoomForReserv" resultMap="reserv">
		SELECT id, room_id, DATE_FORMAT(check_in, '%Y-%m-%d') as check_in, DATE_FORMAT(check_out, '%Y-%m-%d') as check_out, exbed, meal,
				DATE_FORMAT(resv_date, '%Y-%m-%d') as resv_date, member_id, hotel_category
		FROM   resv_room
    	WHERE  member_id=#{memberId}
	</select>
	
	<!-- 회원번호와 일치하는 예약정보를 조회한다 -->
	<select id="selectReservByMemberId" parameterType="iot5.project.shilla.model.RoomForReserv" resultMap="reserv">
		SELECT id, card_no, card_type, card_yy, card_mm, ppl_ad, ppl_ch, ppl_bb, detail, member_id
		FROM   resv_guest
    	WHERE  member_id=#{memberId}
	</select>
	<!-- 회원아이디와 일치하는 객실의 정보를 조회한다 -->
	<select id="selectReservList" parameterType="iot5.project.shilla.model.RoomForReserv" resultMap="reserv">
    	SELECT resv_room.id as id, resv_room.hotel_category as hotel_category, DATE_FORMAT(check_in, '%Y-%m-%d') as check_in, DATE_FORMAT(check_out, '%Y-%m-%d') as check_out, room_type
		FROM   resv_room
		INNER JOIN 	room
			ON 		room.id=resv_room.room_id
		WHERE  member_id=#{memberId}
		ORDER BY id DESC
    </select>
    <!-- 회원아이디와 일치하고 체크인날짜범위에 위치하는 객실의 정보를 조회한다 -->
	<select id="selectReservListByDate" parameterType="iot5.project.shilla.model.RoomForReserv" resultMap="reserv">
    	SELECT resv_room.id as id, resv_room.hotel_category as hotel_category, DATE_FORMAT(check_in, '%Y-%m-%d') as check_in, DATE_FORMAT(check_out, '%Y-%m-%d') as check_out, room_type
		FROM   resv_room
		INNER JOIN 	room
			ON 		room.id=resv_room.room_id
		WHERE  member_id=#{memberId} AND (check_in BETWEEN #{datepickerS} AND #{datepickerE})
		ORDER BY id DESC
    </select>
    
    <select id="selectReservInfo" parameterType="iot5.project.shilla.model.RoomForReserv" resultMap="reserv">
    SELECT 		resv_room.id as id, room_type, bed_type, room_price, room.hotel_category as hotel_category,
    			DATE_FORMAT(check_in, '%Y-%m-%d') as check_in, DATE_FORMAT(check_out, '%Y-%m-%d') as check_out, DATE_FORMAT(resv_date, '%Y-%m-%d') as resv_date,
    			ppl_ad, ppl_ch, ppl_bb, resv_room.exbed, resv_room.meal, card_no, card_yy, card_mm, card_type, detail
	FROM   		resv_room
	INNER JOIN 	room
		ON 		room.id=resv_room.room_id
	INNER JOIN 	resv_guest
		ON 		resv_room.id=resv_guest.resv_room_id
	WHERE 		resv_room.id=#{id}
	</select>
	
	<!-- 예약 가능한 방을 검색한다 -->
	<select id="searchAvailRooms" parameterType="iot5.project.shilla.model.RoomForReserv" resultMap="reserv">		
		 <![CDATA[ 
		SELECT 		room.id as id, room_no, room_type, bed_type, room_price, room.hotel_category as hotel_category
		FROM   		room
		LEFT JOIN 	resv_room
			ON 		room.id=resv_room.room_id
			AND 	resv_room.check_out >= #{checkIn}
			AND 	resv_room.check_in <= #{checkOut}
    	WHERE 		room.hotel_category = #{hotelCate}
    		AND 	resv_room.id IS NULL
    	]]>
	</select>
	
	<!-- 숙박하는 인원수를 SELECT 한다 -->
	<select id="selectReservationPplCount" parameterType="iot5.project.shilla.model.RoomForReserv" resultMap="reserv">
		SELECT ppl_ad, ppl_ch, ppl_bb
		FROM   resv_guest
    	WHERE  member_id=#{memberId}
	</select>
	
</mapper>