<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReservationMapper">
	<resultMap id="reserv" type="iot5.project.shilla.model.Reservation">
		<result property="roomId" column="id" />
		<result property="roomNo" column="room_no" />
		<result property="checkIn" column="check_in" />
		<result property="checkOut" column="check_out" />
		<result property="roomType" column="room_type" />
		<result property="packageType" column="package_type" />
		<result property="exbed" column="exbed" />
		<result property="meal" column="meal" />
		<result property="totalPrice" column="total_price" />
		<result property="resvDate" column="resv_date" />
		<result property="memberId" column="member_id" />
		<result property="hotelCate" column="hotel_category" />
		<result property="guestId" column="resv_guest.id" />
		<result property="cardNo" column="card_no" />
		<result property="cardType" column="card_type" />
		<result property="cardYy" column="card_yy" />
		<result property="cardMm" column="card_mm" />
		<result property="pplAd" column="ppl_ad" />
		<result property="pplCh" column="ppl_ch" />
		<result property="pplBb" column="ppl_bb" />
		<result property="detail" column="detail" />
		<result property="resvRoomId" column="resv_room_id" />
	</resultMap>
	<!-- ######## -->
	<!-- ##입력## -->
	<!-- ######## -->
	<!-- 예약 : 객실정보 -->
	<insert id="insertReservRoom" parameterType="iot5.project.shilla.model.RoomForReserv" 
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO resv_room (
			room_id, check_in, check_out, exbed, meal,
			total_price, resv_date, member_id, hotel_category
		) VALUES (
			#{roomId}, #{checkIn}, #{checkOut}, #{exbed}, #{meal},
			#{totalPrice}, now(), #{memberId}, #{hotelCate}
		)
	</insert>
	<!-- 예약 : 고객정보 -->
	<insert id="insertReservGuest" parameterType="iot5.project.shilla.model.Reservation" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO resv_guest (
			card_no, card_type, card_yy, card_mm, ppl_ad, ppl_ch, ppl_bb, detail, member_id, resv_room_id
		) VALUES (
			#{cardNo}, #{cardType}, #{cardYy}, #{cardMm}, #{pplAd}, #{pplCh}, #{pplBb}, #{detail}, #{memberId}, #{resvRoomId}
		)
	</insert>
	<!-- ######## -->
	<!-- ##수정## -->
	<!-- ######## -->
	
	<!-- ######## -->
	<!-- ##삭제## -->
	<!-- ######## -->
	
	<!-- ######## -->
	<!-- ##조회## -->
	<!-- ######## -->
	<!-- 회원아이디와 일치하는 예약 건수를 조회한다 -->
	<select id="selectReservationCount" parameterType="iot5.project.shilla.model.Reservation" resultType="int">
		SELECT count(id)
		FROM   reservation
		WHERE  member_id=#{memberId}
    </select>  
	<!-- 회원아이디와 일치하는 예약의 정보를 조회한다 -->
	<select id="selectReserv" parameterType="iot5.project.shilla.model.Reservation" resultMap="reserv">
		SELECT id
		FROM   resv_room
    	WHERE  member_id=#{memberId} AND room_id=#{roomId} AND check_in=#{checkIn} AND check_out=#{checkOut}
	</select>	
	<!-- 객실아이디와 일치하는 예약정보를 조회한다 -->
	<select id="selectReservById" parameterType="iot5.project.shilla.model.Reservation" resultMap="reserv">
		SELECT resv_room.id as id, room_no, check_in, check_out, room_type, package_type, exbed, meal,
			total_price, resv_date, member_id, hotel_category
		FROM   resv_room
    	WHERE  id=#{roomId}
	</select>
	<!-- 회원번호와 일치하는 예약정보를 조회한다 -->
	<select id="selectReservByMemberId" parameterType="iot5.project.shilla.model.Reservation" resultMap="reserv">
		SELECT id, card_no, card_type, card_yy, card_mm, ppl_ad, ppl_ch, ppl_bb, detail, member_id
		FROM   resv_guest
    	WHERE  member_id=#{memberId}
	</select>
	<!-- 예약 가능한 방을 검색한다 -->
	<select id="searchAvailRooms" parameterType="iot5.project.shilla.model.Reservation" resultMap="reserv">
		 
	</select>
	
	<!-- 숙박하는 인원수를 SELECT 한다 -->
	<select id="selectReservationPplCount" parameterType="iot5.project.shilla.model.Reservation" resultMap="reserv">
		SELECT ppl_ad, ppl_ch, ppl_bb
		FROM   resv_guest
    	WHERE  member_id=#{memberId}
	</select>
	
</mapper>