<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ResvGuestMapper">
	<resultMap id="resvguest" type="iot5.project.shilla.model.ResvGuest">
		<result property="id" column="id" />
		<result property="cardNo" column="card_no" />
		<result property="cardType" column="card_type" />
		<result property="cardYy" column="card_yy" />
		<result property="cardMm" column="card_mm" />
		<result property="pplAd" column="ppl_ad" />
		<result property="pplCh" column="ppl_ch" />
		<result property="pplBb" column="ppl_bb" />
		<result property="detail" column="detail" />
		<result property="memberId" column="member_id" />
		<result property="resvRoomId" column="resv_room_id" />
	</resultMap>
 	
	<!-- 예약 갯수 -->
	 <select id="selectResvationCount" parameterType="iot5.project.shilla.model.ResvGuest" resultType="int">
        SELECT count(id) FROM resv_guest WHERE member_id=#{memberId}
    </select>
    
	<!-- 예약세부사항 -->
	<select id="selectReserv" parameterType="iot5.project.shilla.model.ResvGuest" resultMap="resvguest">
		SELECT id, room_no, check_in, check_out, room_type, package_type, exbed, meal,
			total_price, resv_date, member_id, hotel_category
		FROM resv_guest
    	WHERE member_id=#{memberId}
	</select>
	
	<!-- id로 검색하기 -->
	<select id="selectReservGById" parameterType="iot5.project.shilla.model.ResvGuest" resultMap="resvguest">
		SELECT id, card_no, card_type, card_yy, card_mm, ppl_ad, ppl_ch, ppl_bb, detail, member_id
		FROM resv_guest
    	WHERE resv_room_id=#{resvRoomId}
	</select>
	
	<!-- 검색 -->
	<select id="searchAvailRooms" parameterType="iot5.project.shilla.model.ResvGuest" resultMap="resvguest">
		 
	</select>
	
</mapper>