<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ResvRoomMapper">
	<resultMap id="resvroom" type="iot5.project.shilla.model.RoomForReserv">
		<result property="id" column="id" />
		<result property="roomId" column="room_id" />
		<result property="checkIn" column="check_in" />
		<result property="checkOut" column="check_out" />
		<result property="roomType" column="room_type" />
		<result property="bedType" column="bed_type" />
		<result property="exbed" column="exbed" />
		<result property="meal" column="meal" />
		<result property="totalPrice" column="total_price" />
		<result property="resvDate" column="resv_date" />
		<result property="memberId" column="member_id" />
		<result property="roomNo" column="room_no" />
		<result property="roomType" column="room_type" />
		<result property="bedType" column="bed_type" />
		<result property="roomPrice" column="room_price" />
		<result property="hotelCate" column="hotel_category" />
	</resultMap>
 	<!-- ######## -->
	<!-- ##입력## -->
	<!-- ######## -->
	
	<!-- ######## -->
	<!-- ##수정## -->
	<!-- ######## -->
	
	<!-- ######## -->
	<!-- ##삭제## -->
	<!-- ######## -->
	
	<!-- ######## -->
	<!-- ##조회## -->
	<!-- ######## -->
	<!-- 회원아이디와 일치하는 예약 건수를 조회한다 -->
	 <select id="selectReservationCount" parameterType="iot5.project.shilla.model.ResvRoom" resultType="int">
        SELECT count(id)
        FROM   resv_room
        WHERE  member_id=#{memberId}
    </select>	
	<!-- 회원아이디와 일치하는 예약의 정보를 조회한다 -->
	<select id="selectReserv" parameterType="iot5.project.shilla.model.ResvRoom" resultMap="resvroom">
		SELECT id, room_no, check_in, check_out, room_type, package_type, bed_type, exbed, meal,
				total_price, resv_date, member_id, hotel_category
		FROM   resv_room
    	WHERE  member_id=#{memberId}
	</select>
	<!-- 회원아이디와 일치하는 객실의 정보를 조회한다 -->
	<select id="selectReservList" parameterType="iot5.project.shilla.model.ResvRoom" resultMap="resvroom">
    	SELECT id, hotel_category, room_type, check_in
		FROM   resv_room
		WHERE  member_id=#{memberId}
		ORDER BY id DESC
    </select>  
	<!-- 예약된 객실아이디와 일치하는 예약정보를 조회한다 : 객실정보 -->
	<select id="selectReservRById" parameterType="iot5.project.shilla.model.ResvRoom" resultMap="resvroom">
		SELECT id, room_no, DATE_FORMAT(check_in, '%Y-%m-%d') as check_in, DATE_FORMAT(check_out, '%Y-%m-%d') as check_out, room_type, package_type, exbed, meal,
				total_price, DATE_FORMAT(resv_date, '%Y-%m-%d') as resv_date, member_id, hotel_category
		FROM   resv_room
    	WHERE  id=#{id}
	</select>	
	<!-- 예약 가능한 방을 검색한다 -->
	<select id="searchAvailRooms" parameterType="iot5.project.shilla.model.ResvRoom" resultMap="resvroom">
		SELECT room.id as id, room_no, check_in, check_out, room_type, bed_type, exbed, meal, total_price, resv_date, member_id,
		 		room.hotel_category as hotel_category, room_type, room_price
		FROM   room
		LEFT JOIN resv_room
		ON 		room.id=resv_room.room_id
		AND 	resv_room.check_out >= #{checkIn}
		<!-- AND 	resv_room.check_in <= #{checkOut} -->
    	WHERE 	room.hotel_category = #{hotelCate}
    	AND 	resv_room.id IS NULL
	</select>
	
</mapper>