<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RoomMapper">

	<resultMap id="room"
		type="iot5.project.shilla.model.Room">
		<result property="id" column="id" />
		<result property="roomNo" column="room_no" />
		<result property="roomType" column="room_type" />
		<result property="bedType" column="bed_type" />
		<result property="roomPrice" column="room_price" />
		<result property="packageId" column="package_id" />
		<result property="hotelCate" column="hotel_category" />		
	</resultMap>
	<!-- ######## -->
	<!-- ##입력## -->
	<!-- ######## -->
	<!-- 객실의 정보를 입력한다 -->
	<insert id="insertRoom" parameterType="iot5.project.shilla.model.Room" 
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO room (
			room_no, room_type, bed_type, room_price, package_id, hotel_category
		) VALUES (
			#{roomNo}, #{roomType}, #{bedType}, #{roomPrice}, #{packageId}, #{hotelCate}
		)
	</insert>
	
	<!-- ######## -->
	<!-- ##수정## -->
	<!-- ######## -->
	
	<!-- ######## -->
	<!-- ##삭제## -->
	<!-- ######## -->
	
	<!-- ######## -->
	<!-- ##조회## -->
	<!-- ######## -->
	<!-- 객실타입과 일치하는 객실의 정보를 조회한다 -->
	<select id="selectRoomCount" parameterType="iot5.project.shilla.model.Room" resultType="int">
		SELECT count(id)
		FROM   room
		<where>
			<if test="roomType != null and roomType != ''">
				room_type LIKE concat('%', #{roomType}, '%')
			</if>
		</where>
    </select>
	<!-- 객실아이디나 객실번호가 일치하는 객실의 정보를 조회한다 -->
	<select id="selectRoomItem" parameterType="iot5.project.shilla.model.Room" resultMap="room">
		SELECT id, room_no, room_type, bed_type, room_price, package_id, hotel_category
		FROM   room
		WHERE  id=#{id} or room_no=#{roomNo}
	</select>
	<!-- 객실타입과 일치하는 객실의 목록을 조회한다 -->
	<select id="selectRoomList" parameterType="iot5.project.shilla.model.Room" resultMap="room">
		SELECT id, room_no, room_type, bed_type, room_price, package_id, hotel_category 
		FROM   room
		<where>
			<if test="roomType != null and roomType != ''">
				room_type LIKE concat('%', #{roomType}, '%')
			</if>
		</where>
		ORDER BY id DESC
		LIMIT #{limitStart}, #{listCount}
	</select>
	<!-- 객실타입과 일치하는 객실의 목록을 조회한다 -->
	<select id="selectRoomListNW" parameterType="iot5.project.shilla.model.Room" resultMap="room">
		SELECT id, room_no, room_type, bed_type, room_price, package_id, hotel_category 
		FROM   room
	</select>
	
</mapper>