
	<div class="container2">
		<div>
			<!-- 탭 버튼 구성 -->
			<ul class="nav nav-tabs" id="mytab">
				<li class="active"><a href="#page1" data-toggle="tab">전체(6)</a></li>
				<li><a href="#page2" data-toggle="tab">패키지(2)</a></li>
				<li><a href="#page3" data-toggle="tab">객실(4)</a></li>
			</ul>
			<!-- 탭 페이지 구성 -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade active in" id="page1">
					<div class="rsv_packagetextdiv">
						<p class="rsv_packagetextdiv_text">패키지</p>
						<p class="rsv_packagetextdiv_text2">할인이 적용된 요금입니다.</p>
					</div>
					
					<!-- rsv_roomlistbox start -->
<!-- 리스트 1개 시작 ============================================================================================================================================================================== -->
					<div class="rsv_roomlistbox">
						<div class="rlbox ">
<!-- ----------------------------------------------------------------------------------------------------- -->
						<div class="rsv_thumb clearfix">
							<img src="../img/rsv_packageimg1.jpg" alt="이미지1" />
						</div>
<!-- ----------------------------------------------------------------------------------------------------- -->
						<div class="rsv_text">
							<ul>
								<li class="rsv_text_1">Autumn Rooftop</li>
								<li class="rsv_text_2">어번 아일랜드 루프탑 입장 혜택(성인 2인)</li>
								<li class="rsv_text_2">체련장(Gym), 실내 수영장 혜택</li>
							</ul>
						</div>
<!-- ----------------------------------------------------------------------------------------------------- -->						
						<div class="rsv_thumb2 clearfix">
							<!-- 예약하기 버튼 시작 -->
							<img src="../img/rsv_roomrsvimg1.gif" alt="이미지2" />
						</div>
						<!--// 예약하기 버튼 끝 -->
						</div>
<!-- ----------------------------------------------------------------------------------------------------- -->
						<div class="rsv_text2">
							<ul class="rsv_text2_0">
								<li class="rsv_text2_1">280,000~</li>
								<li class="rsv_text2_2">원/1박</li>
							</ul>
							
							
							<div class="rsv_useguidebox">
								<!-- 링크로 모달 열기 -->
								<a href="#" class="btn btn-warning" data-toggle="modal"
									data-target="#myModal">혜택 및 이용안내 + </a>
							</div>
							
<!-- ----------------------------------------------------------------------------------------------------- -->							
							<!-- Modal -->
							<div class="modal fade" id="myModal">
								<div class="modal-dialog modal-md">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											<h4 class="modal-title">혜택 및 이용안내</h4>
										</div>
										<div class="modal-body">
											<img src="../img/rsv_autumnrooftop.jpg" alt="이미지1" /> </br> </br>
											<p>석양을 눈에 담으며 즐기는 시원한 맥주와 풍성한 메뉴</p>
											</br>
											<p>2018-09-07 ~ 2018-10-21</p>
											</br>
											<p>
												혜택 : 어번 아일랜드 루프탑 입장 혜택(성인 2인)</br>
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												체련장(Gym), 실내 수영장 혜택 </br> </br>
											<div class="rsv_useguide">
												<p class="rsv_useguide">
													- 본 상품은 성인 2인 1실 기준이며, 요금에는 세금 및 봉사료가 부과됩니다. </br> </br> - 본 패키지는 어번
													아일랜드(야외 수영장) 입장 혜택을 포함하지 않은 상품입니다. </br> </br> - 어번 아일랜드 루프탑은 이용
													시간(9월 7일 ~ 30일 18:00 ~ 22:00 / 10월 1일 ~ 21일 17:00 ~ 21:00)에
													한해 입장 및 이용 가능합니다. </br> </br> - 더 이그제큐티브 라운지는 투숙객 전용 공간으로, 객실 투숙 고객(만
													13세 이상)에 한해 이용 가능합니다. </br> </br> - 본 상품은 카드사 할인 등의 중복 할인 혜택이 적용되지
													않습니다. </br> </br> - 기준 인원을 초과하여 투숙 시 추가 인원에 대해서는 별도의 요금이 부과됩니다.</br>• 객실
													1실 당 성인은 최대 3인까지만 투숙 가능하며, 소인(37개월 이상~만 12세 이하)은 최대 2인까지만
													동반 투숙 가능합니다.</br>• 객실 1실 당 성인과 소인 동반 시 최대 4인까지만 투숙 가능합니다. </br> </br> -
													Check-in은 오후 3시, Check-out은 정오까지입니다. </br> </br> - 숙박 예정일 1일 전 18시까지는
													위약금 없이 취소 및 변경이 가능합니다. </br> </br> 숙박 예정일 1일 전 18시 이후 취소/변경 및
													노쇼(No-show) 발생 시, ▷성수기(5월~10월, 12월 24일~31일)에는 최초 1일 숙박 요금의
													80%, ▷비수기(성수기 외 기간)에는 최초 1일 숙박 요금의 10%가 위약금으로 부과됩니다. </br> </br> -
													패키지에 포함된 혜택 및 선물은 투숙 기간 중에 한해 1회 제공되며, 중복 제공되지 않습니다. </br> </br> -
													주류는 성인 고객에 한해 이용 가능합니다. </br>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
<!-- ----------------------------------------------------------------------------------------------------- -->							
						</div>
<!-- ----------------------------------------------------------------------------------------------------- -->
						<div class="rev_bedselect clearfix" id="rsv_roomarc2">
							<div class="rsv_collapse">
								<!-- 게시글 하나 단위 -->
								<div class='rsv_collapse-item'>
									<!-- 게시글 제목영역 -->
									<div class='rsv_collapse-title'>
										[Standard] Business Deluxe<button class="btn btn-sm rsv_selectbtn" onclick="location.href='/iot5/reservation/reservation2.jsp'">선택</button>
									</div>
									<!-- 게시글 내용영역 -->
									<div id="rsv_content1" class="rsv_content">

										<div class="rsv_content1-1-1">Double</div>
										<div class="rsv_content1-1-2">
											280,000 원~ <input type="radio" name="subject" />
										</div>
										<br /> <br />
										<hr />
										<br />
										<div class="rsv_content1-2-1">Twin</div>
										<div class="rsv_content1-2-2">
											280,000 원~ <input type="radio" name="subject" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- <script type="text/javascript">
					        $(function() {
								$("#rsv_thumb2btn").click(function() { $("#rsv_roomarc2").fadeToggle(200); });
					        });
					    </script> -->
<!-- ----------------------------------------------------------------------------------------------------- -->
					</div>
<!-- 리스트 1개 끝 ============================================================================================================================================================================== -->
					
					
					
					
					
					
					
					
					
					
					<div class="rsv_roomlistbox2">
						<div class="rsv_thumb clearfix">
							<img src="../img/rsv_packageimg2.jpg" alt="이미지1" />
						</div>
						<div class="rsv_text">
							<ul>
								<li class="rsv_text_1">[서울신라호텔] Rewards Urban Rooftop</li>
								<li class="rsv_text_2">어번 아일랜드(야외 수영장) All Day 입장 혜택(2인)</li>
								<li class="rsv_text_2">어번 아일랜드 루프탑 입장 혜택(2인)</li>
								<li class="rsv_text_2">마리아주 플레이트(1개) 및 와인(2잔)</li>
								<li class="rsv_text_2">리워즈 1만 포인트 제공(1박 당)</li>
								<li class="rsv_text_2">체련장(Gym), 실내 수영장 혜택(2인)</li>
							</ul>
						</div>
						<div class="rsv_thumb2">
							<!-- 예약하기 버튼 시작 -->
							<img src="../img/rsv_roomrsvimg1.gif" alt="이미지2" />
						</div>
						<!--// 예약하기 버튼 끝 -->


						<div class="rsv_text2">
							<ul class="rsv_text2_0">
								<li class="rsv_text2_1">290,000~</li>
								<li class="rsv_text2_2">원/1박</li>
							</ul>
							<div class="rsv_useguidebox">
								<!-- 링크로 모달 열기 -->
								<a href="#" class="btn btn-warning" data-toggle="modal"
									data-target="#myModal2">혜택 및 이용안내 + </a>
							</div>
							<!-- Modal -->
							<div class="modal fade" id="myModal2">
								<div class="modal-dialog modal-md">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											<h4 class="modal-title">혜택 및 이용안내</h4>
										</div>
										<div class="modal-body">
											<div class="rsv_modal2img"><img src="../img/rsv_rewardsurbanrooftop.jpg" alt="이미지1" /></div> </br> </br>
											<p>어번 아일랜드에서의 여유로운 수영과 루프탑에서 즐기는 풍성한 메뉴로 가을 밤의 정취를 만끽해 보세요.</p>
											</br>
											<p>기간 : 2018년 9월 7일 ~ 10월 21일</p>
											<p>* 제외 기간: 9월 14일, 18일, 22일 ~ 25일
											   * 본 상품은 Shilla S 멤버십 또는 카드사 할인, 모바일 앱 할인 쿠폰 등의 중복 할인 혜택이 적용되지 않습니다.</p>
											</br>
											<p>
												신라리워즈 회원에게 드리는 특별한 혜택 : 리워즈 1만 포인트 제공 (1박 당)</br>
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												체련장(Gym), 실내 수영장 혜택 </br> </br>
											<div class="rsv_useguide">
												<p class="rsv_useguide">
													- 본 상품은 성인 2인 1실 기준이며, 요금에는 세금 및 봉사료가 부과됩니다. </br> </br> - 본 패키지는 어번
													아일랜드(야외 수영장) 입장 혜택을 포함하지 않은 상품입니다. </br> </br> - 어번 아일랜드 루프탑은 이용
													시간(9월 7일 ~ 30일 18:00 ~ 22:00 / 10월 1일 ~ 21일 17:00 ~ 21:00)에
													한해 입장 및 이용 가능합니다. </br> </br> - 더 이그제큐티브 라운지는 투숙객 전용 공간으로, 객실 투숙 고객(만
													13세 이상)에 한해 이용 가능합니다. </br> </br> - 본 상품은 카드사 할인 등의 중복 할인 혜택이 적용되지
													않습니다. </br> </br> - 기준 인원을 초과하여 투숙 시 추가 인원에 대해서는 별도의 요금이 부과됩니다.</br>• 객실
													1실 당 성인은 최대 3인까지만 투숙 가능하며, 소인(37개월 이상~만 12세 이하)은 최대 2인까지만
													동반 투숙 가능합니다.</br>• 객실 1실 당 성인과 소인 동반 시 최대 4인까지만 투숙 가능합니다. </br> </br> -
													Check-in은 오후 3시, Check-out은 정오까지입니다. </br> </br> - 숙박 예정일 1일 전 18시까지는
													위약금 없이 취소 및 변경이 가능합니다. </br> </br> 숙박 예정일 1일 전 18시 이후 취소/변경 및
													노쇼(No-show) 발생 시, ▷성수기(5월~10월, 12월 24일~31일)에는 최초 1일 숙박 요금의
													80%, ▷비수기(성수기 외 기간)에는 최초 1일 숙박 요금의 10%가 위약금으로 부과됩니다. </br> </br> -
													패키지에 포함된 혜택 및 선물은 투숙 기간 중에 한해 1회 제공되며, 중복 제공되지 않습니다. </br> </br> -
													주류는 성인 고객에 한해 이용 가능합니다. </br>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>



						<div class="rev_bedselect" id="rsv_roomarc2">
							<div class="rsv_collapse">
								<!-- 게시글 하나 단위 -->
								<div class='rsv_collapse-item'>
									<!-- 게시글 제목영역 -->
									<div class='rsv_collapse-title'>
										[Standard] Business Deluxe<button class="btn btn-sm rsv_selectbtn" onclick="location.href='/iot5/reservation/reservation2.jsp'">선택</button>
									</div>
									<!-- 게시글 내용영역 -->
									<div id="rsv_content1" class="rsv_content">

										<div class="rsv_content1-1-1">Double</div>
										<div class="rsv_content1-1-2">
											290,000 원~ <input type="radio" name="subject" />
										</div>
										<br /> <br />
										<hr />
										<br />
										<div class="rsv_content1-2-1">Twin</div>
										<div class="rsv_content1-2-2">
											290,000 원~ <input type="radio" name="subject" />
										</div>
									</div>
								</div>
							</div>
						</div>

					</div><!-- 리스트 2끝 -->
					
					
					
					
				</div><!-- 전체 탭 끝 -->


				<div role="tabpanel" class="tab-pane fade" id="page2">
					<!-- 탭 2와 3. 탭 1 완성 후 수정할 것 -->
					<div class="rsv_packagetextdiv">
						<p class="rsv_packagetextdiv_text">패키지</p>
						<p class="rsv_packagetextdiv_text2">할인이 적용된 요금입니다.</p>
					</div>
					<div class="rsv_roomlistbox">
						<div class="rsv_thumb">
							<img src="../img/rsv_packageimg1.jpg" alt="이미지1" />
						</div>
						<div class="rsv_text">
							<ul>
								<li class="rsv_text_1">Autumn Rooftop</li>
								<li class="rsv_text_2">어번 아일랜드 루프탑 입장 혜택(성인 2인)</li>
								<li class="rsv_text_2">체련장(Gym), 실내 수영장 혜택</li>
							</ul>
						</div>
						<div class="rsv_thumb2">
							<img src="../img/rsv_roomrsvimg1.gif" alt="이미지2" />
						</div>
						<div class="rsv_text2">
							<ul>
								<li class="rsv_text2_1">350,000~</li>
								<li class="rsv_text2_2">원/1박</li>
							</ul>
							<p class="rsv_desc">혜택 및 이용안내</p>
						</div>
					</div>
				</div>


				<div role="tabpanel" class="tab-pane fade" id="page3">
					<div class="rsv_packagetextdiv">
						<p class="rsv_packagetextdiv_text">객실</p>
						<p class="rsv_packagetextdiv_text2">할인이 적용된 요금입니다.</p>
					</div>
					<div class="rsv_roomlistbox">
						<div class="rsv_thumb">
							<img src="../img/rsv_packageimg1.jpg" alt="이미지1" />
						</div>
						<div class="rsv_text">
							<ul>
								<li class="rsv_text_1">Autumn Rooftop</li>
								<li class="rsv_text_2">어번 아일랜드 루프탑 입장 혜택(성인 2인)</li>
								<li class="rsv_text_2">체련장(Gym), 실내 수영장 혜택</li>
							</ul>
						</div>
						<div class="rsv_thumb2">
							<img src="../img/rsv_roomrsvimg1.gif" alt="이미지2" />
						</div>
						<div class="rsv_text2">
							<ul>
								<li class="rsv_text2_1">350,000~</li>
								<li class="rsv_text2_2">원/1박</li>
							</ul>
							<p class="rsv_desc">혜택 및 이용안내</p>
						</div>
					</div>
				</div>
				<!-- 탭 2와 3. 탭 1 완성 후 수정할 것 -->

			</div>
		</div>
	</div>




	<script type="text/javascript">
		
	</script>

