.main .if-contents table.contentbox {
	width: 870px;
	height: 150px;
	border: 1px solid #fba;
	margin: 50px 0;
}

.main table.contentbox td.subcon {
	width: 4000px;
	height: 200px;
	margin: 0;
	padding-left: 30px;
}

.main table.contentbox td.subconhead {
	font-weight: bold;
	font-size: 22px;
	margin: 0;
	padding-top: 20px;
	padding-left: 30px;
}

/** 서울 신라 SNS 이미지 */
.shillainfo .i_logo {
	margin-left: 450px;
	margin-top: -100px;
	z-index: 10;
	display: inline-block;
}

.i_fb, .i_ta, .i_gg, .i_wb {
	width: 25px;
	height: 25px;
	background: url(../img/i_seoul.png) no-repeat;
	text-indent: -9999px;
	margin: 0;
}

.shillainfo .i_fb {
	background-position: 0;
}

.shillainfo .i_ta {
	background-position: -27px;
}

.shillainfo .i_gg {
	background-position: -56px;
}

.shillainfo .i_wb {
	background-position: -84px;
}



/** 제주신라 SNS 이미지 */
.shillainfo .ij_logo {
	margin-left: 450px;
	margin-top: -50px;
	z-index: 10;
	display: inline-block;
}

.ij_fb, .ij_bl, .ij_gg, .ij_wb, .ij_ta {
	width: 26px;
	height: 25px;
	background: url(../img/i_sns.png) no-repeat;
	text-indent: -9999px;
	margin: 0;
}

.shillainfo .ij_fb {
	background-position: 0;
}

.shillainfo .ij_bl {
	background-position: -27px 0;
}

.shillainfo .ij_ta {
	background-position: -55px 0;
}

.shillainfo .ij_wb {
	background-position: -84px 0;
}

.shillainfo .ij_gg {
	background-position: -112px 0;
}

/** 공유하기 버튼 */
.i_face, .i_twit {
	width: 26px;
	height: 25px;
	background: url(../img/facetwit.png) no-repeat;
	text-indent: -9999px;
	display: inline-block;
	margin: 0;
}

.main .if-contents  .i_face {
	background-position: 0;
}

.main .if-contents .i_twit {
	background-position: -26px;
}