.main table.contentbox {
	width: 870px;
	height: 150px;
	border: 1px solid #fba;
	margin: 0;
}

.main table.contentbox td.subcon {
	width: 4000px;
	height: 200px;
	margin: 0;
	padding-left: 30px;
}

.main table.contentbox td.subconhead {
	font-weight: bold;
	font-size: 22px;
	margin: 0;
	padding-top: 20px;
	padding-left: 30px;
}

/** 호텔 이미지 */
.shillainfo {
	margin-top: 50px;
}

.i_fb, .i_is, .i_gg, .i_wb {
	width: 25px;
	height: 25px;
	background: url(../img/HublocalBoxSnsNews.gif) no-repeat;
	text-indent: -9999px;
	margin: 0 5px;
	float: right;
}

.shillainfo .i_fb {
	background-position: -25px -60px;
}

.shillainfo .i_is {
	background-position: -53px -60px;
}

.shillainfo .i_gg {
	background-position: -81px -60px;
}

.shillainfo .i_wb {
	background-position: -109px -60px;
}

.shillainfo .i_logo {
	margin-right: 300px;
	margin-top: 0;
}