
		.form-horizontal {

            width: 800px;
            margin: auto;
			padding-left:10px;
			font-size:15px
        }

        .form-group:after {
            content: '';
            display: block;
            clear: both;
            float: none;
        }

        .form-group {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px dotted #eee;
        }
        
		.calendar_img{
			display:inline-block;
			cursor:pointer;
		}
        .form-group:last-child {
            border-bottom: 0;
        }

        .postcodify_address{
        	width:400px;
        }
        
		.postcodify_details{
			width:400px;
		}
		
        .form-control {
            width: 100%;
            padding: 5px 0;
            font-size: 14px;
            border: 1px solid #eee;
        }

        .text-center {
            text-align: center;
            vertical-align:middle;
            width:auto;
            margin:0 auto;
        }

        .identify {
            font-size: 14px;
            color: #f00;
        }
        .modal-content{
        	
        	border:5px solid #856f56;
        }
        .modal-header{
        background: #856f56;
        }
        .modal-title{
        	color:#fff;
        }
        .modal-footer{
        	text-align: center;
        	margin:20px auto;
        	
        }
        .modal-footer1{
       		 text-align: center;
       		 margin-bottom: 20px;
        }
        .log_hidden{
        	display:none;
        }
        .modal_table{
        	margin:auto;
        }