.form-horizontal{
			border-top: 5px solid #856f56;
			width: 570px;
			height:310px;
			margin: auto;
			padding:25px 45px;
			background: #f1ebd6;
		}
		.form-group:after{
			content: '';
			display: block;
			clear: both;
			float: none;
		}
		.form-group {
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom: 1px dotted #eee;

		}
		.form-group:last-child{
			border-bottom: 0;
		}
		.log_header{
			display:inline;
			font-size:30px;
			color: #865009;
		}
		.log_header1{
			font-size:30px;
			color: #865009;
			text-align: center;
		}
		.log_header2{
			font-size:15px;
			color: #000;
			text-align: center;
		}
		.col-md-2{
			width: 20%;
			display: block;
			float: left;
			font-size: 14px;
			padding-top: 7px;
			text-indent: 5px;
		}
		.col-md-10{
			width: 70%;
			display: block;
			float: left;
		}
		.btn_color1{
			background: #322223;
			font-size:20px;
			color:white;
		}
		.btn_color2{
			background: #322223;
			font-size:15px;
			color:white;
		}
		.btn_color3{
			background: #6e583e;
			font-size:15px;
			color:white;
		}
		.ind1{
		margin-top: -50px;
		display: inline;
		text-align: right;
		float: right;
		font-size: 10px;
		}
		.form-control{
			width: 100%;
			padding: 5px 0;
			font-size: 14px;
			border: 1px solid #eee;
		}
		.text-center{
			text-align: center;
		}
		.notice1{
		border: 3px solid #eee;
		width: 570px;
		margin: auto;
		padding:5px;
		text-align: center;
		}
