.sidebar {
	background-color: #f1e3c4;
	min-height: 200px;
	margin-right: 50px;
}

.bdb {
	border-bottom: 4px solid #3e2b2c;	
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.ind {
	margin-top: 35px;
	display: inline;
	text-align: right;
	float: right;
	font-size: 10px;
}

.orng {
	color: orange;
	text-decoration: underline;
}