.i_awardshead {
	font-size: 25px;
	font-weight: bold;
}

.con1 .table {
	margin-top: 50px;
}

.i_awardsyr {
	font-size: 26px;
	text-decoration: underline double #eee;
	font-weight: bold;
}

.i_awardsmth {
	font-size: 18px;
}