/*------------------------------------------------------------
	| 마이페이지 사이드바 메뉴 설정
-------------------------------------------------------------*/
.mypg-sidebar-menu a {
	height:20px;
	margin: 15px 0;
	font-weight: bold;
	padding-left: 5px;
	color: #633e10;
}

.mypg-sidebar-menu a:nth-child(2) {
	padding-bottom: 25px;
	border-bottom: 1px dotted #cec2a8;
}

.mypg-sidebar-menu a:nth-child(3),
.mypg-sidebar-menu a:nth-child(4),
.mypg-sidebar-menu a:nth-child(5) {
	height: 20px;
	font-size: 12px;
	margin: 10px 0;
	font-weight: normal;
	color: #876234;
}

.sidebar-arrow {
	width: 20px;
	height: 20px;
	float: right;
	vertical-align: middle;
}

.mypg-sidebar-open {
	background-color: #d3c09a;
	
}

/*------------------------------------------------------------
	| 페이지 기본 설정
-------------------------------------------------------------*/
.mypg-container {
	width: 1200px;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.mypg-contents {
	width: 870px;
	min-height: 600px;
	display: inline-block;
}

.mypg-bdb2 {
	border-bottom: 5px solid #3e2b2c;
	padding-bottom: 15px;
}

.mypg-contents-header {
	width: 100%;
}

.mypg-contents-header h3{
	display: inline-block;
	margin: 0;
	color: #865009;
}

.mypg-loc {
	font-size: 12px;
}

.mypg-loc span:nth-child(1) {
	color: #696969;
}

.mypg-loc-txt {
	color: #865009;
	text-decoration: underline;
	font-weight: bold;
}

.mypg-contents-txt {
	margin-top: 15px;
}

.mypg-contents-txtbox {
	height: 50px;
	border: 1px solid #e9e9e9;
	border-top: 0;
	background-color: #fbfbfb;
	margin-bottom: 20px;
	padding-top: 12px;
	padding-left: 20px;
}

.mypg-bdb {
	border-bottom: 3px solid #a1886f;
	padding-bottom: 10px;
}

.mypg-contents-table tr {
	height: 35px;
}

.mypg-contents-btn {
	margin: 40px 415px;
}

.mypg-contents-btn2 {
	width: 284px;
	margin: 40px 300px;
}

/*------------------------------------------------------------
	| 컨텐츠 설정 - main.jsp
-------------------------------------------------------------*/
.mypg-contents-txt .mypg-mp-name {
	text-transform: uppercase;
	color: #a1886f;
	font-weight: bold;
}

.mypg-mp-bd {
	border: 2px solid #e3d6c6;
	padding: 30px 40px 30px 40px;
	height: 100px;
}

.mypg-mp-bd span {
	font-weight: bold;
	font-size: 25px;
}

.mypg-mp-bd .member-id {
	color: #a1886f;
}
/*------------------------------------------------------------
	| 컨텐츠 설정 - reservation.jsp
-------------------------------------------------------------*/
.mypg-rsvt-bd {
	border: 1px solid #e3d6c6;
	padding: 20px 20px 50px 20px;
}

.mypg-rsvt-whole,
.mypg-rsvt-whole:hover {
	width: 45px;
	height: 27px;
	background-color: #727272;
	color: #ffffff;
	padding: 0;
	border-radius: 0;
}

.mypg-rsvt-find,
.mypg-rsvt-find:hover {
	width: 62px;
	height: 27px;
	background-color: #3a3125;
	color: #f1ebd6;
	padding: 0;
	border-radius: 0;
}

.mypg-rsvt-bd>div:first-child>* {
	height: 27px;
	line-height: 27px;
}

.mypg-rsvt-bd>div:first-child>a {
	display: inline;
}

.mypg-rsvt-bd>div:first-child>input {
	width: 100px;
}

.mypg-rsvt-bd>div:first-child>a>img {
	margin: 5px 0 8px 5px;
}

.mypg-rsvt-contents-table {
	width: 100%;
	text-align: center;
	border-top: 1px solid #cdcbbe;
	border-bottom: 1px solid #cdcbbe;
}

.mypg-rsvt-contents-table tr:first-child {
	background-color: #faf9f4;
	font-weight: bold;
	border-bottom: 1px solid #cdcbbe;
}

.mypg-rsvt-contents-table td:nth-child(1) {
	width: 15%
}

.mypg-rsvt-contents-table td:nth-child(2) {
	width: 10%
}

.mypg-rsvt-contents-table td:nth-child(3) {
	width: 30%
}

.mypg-rsvt-contents-table td:nth-child(4) {
	width: 30%
}

.mypg-rsvt-contents-table td:nth-child(5) {
	width: 15%
}

/*------------------------------------------------------------
	| 컨텐츠 설정 - profile_edit.jsp
-------------------------------------------------------------*/
.mypg-pfed-contents-table {
	width: 100%;
	text-align: center;
	border-top: 1px solid #cdcbbe;
	border-bottom: 1px solid #cdcbbe;
}

.mypg-pfed-contents-table tr:nth-child(1) {
	border-bottom: 1px solid #eceae1;
}

.mypg-pfed-contents-table td:nth-child(1) {
	font-weight: bold;
	width: 15%;
	background-color: #faf9f4;
	padding-left: 15px;
	text-align: left;
}

.mypg-pfed-contents-table td:nth-child(2) {
	width: 85%;
	padding-left: 15px;
	text-align: left;
}

.mypg-pfed-confirm,
.mypg-pfed-confirm:hover {
	width: 62px;
	height: 27px;
	background-color: #3a3125;
	color: #f1ebd6;
	padding: 0;
	border-radius: 0;
}

/*------------------------------------------------------------
	| 컨텐츠 설정 - password_edit.jsp
-------------------------------------------------------------*/
.mypg-pwed-contents-table {
	width: 100%;
	text-align: center;
	border-top: 1px solid #cdcbbe;
	border-bottom: 1px solid #cdcbbe;
}

.mypg-pwed-contents-table tr:nth-child(1),
.mypg-pwed-contents-table tr:nth-child(2) {
	border-bottom: 1px solid #eceae1;
}

.mypg-pwed-contents-table td:nth-child(1) {
	font-weight: bold;
	width: 15%;
	background-color: #faf9f4;
	padding-left: 15px;
	text-align: left;
}

.mypg-pwed-contents-table td:nth-child(2) {
	width: 85%;
	padding-left: 15px;
	text-align: left;
}

.mypg-pwed-contents-table label {
	margin: 0;
}

.mypg-pwed-contents-table .info-modal {
	display: inline-block;
	margin: 0 5px;
	font-size: 12px;
}

.info-modal a {
	color: #806925;
}

.info-modal a span {
	color: #bb9761;
}

.modal-backdrop {
	background-color: rgba(0, 0, 0, 0);
}

.info-modal-content {
	border: 1px solid #a1886f;
	border-radius: 0;
	width: 490px;
	height: 150px;
	padding: 19px;
	position: absolute;
	z-index: 100;
	left: 165px;
    top: 295px;
    background: #f7f4ea;
}

.info-modal-content h4 {
	font-size: 11px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	margin: 0 0 10px 0;
}

.info-modal-content ul {
	margin: 0;
	padding: 0;
}

.info-modal-content li {
	font-size: 11px;
	height: 20px;
	line-height: 20px;
	padding: 0 0 0 8px;
}

.info-modal-close {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 5px;
}

.mypg-pwed-contents-table span {
	margin: 0 5px;
	font-size: 12px;
}

.mypg-pwed-change,
.mypg-pwed-change:hover {
	width: 137px;
	height: 44px;
	background-color: #3a3125;
	color: #f1ebd6;
	margin-right: 10px;
	float:left;
	padding: 0;
	border-radius: 0;
}

.mypg-pwed-cancel,
.mypg-pwed-cancel:hover {
	width: 137px;
	height: 44px;
	background-color: #7c6347;
	color: #f1ebd6;
	padding: 0;
	border-radius: 0;
}

/*------------------------------------------------------------
	| 컨텐츠 설정 - qna.jsp
-------------------------------------------------------------*/
.mypg-rsvt-bd>div:first-child>* {
	height: 27px;
	line-height: 27px;
}

.mypg-rsvt-bd>div:first-child>a {
	display: inline;
}

.mypg-rsvt-bd>div:first-child>input {
	width: 100px;
}

.mypg-rsvt-bd>div:first-child>a>img {
	margin: 5px 0 8px 5px;
}

.mypg-qna-bd-search {
	margin-bottom: 20px;
}

.mypg-qna-contents-table {
	width: 100%;
	text-align: center;
	border-top: 1px solid #cdcbbe;
	border-bottom: 1px solid #cdcbbe;
}

.mypg-qna-contents-table .qna-table-title {
	background-color: #faf9f4 !important;
	font-weight: bold;
	border-bottom: 1px solid #cdcbbe;
}

.mypg-qna-contents-table #find-target {
	background-color: transparent;
}

.mypg-qna-contents-table tr:nth-child(even) {
	background-color: #faf9f4;
}

.mypg-qna-contents-table tr:nth-child(odd) {
	background-color: transparent;
}

.mypg-qna-contents-table td:nth-child(1) {
	width: 10%
}

.mypg-qna-contents-table td:nth-child(2) {
	width: 10%
}

.mypg-qna-contents-table td:nth-child(3) {
	width: 20%
}

.mypg-qna-contents-table td:nth-child(4) {
	width: 40%
}

.mypg-qna-contents-table td:nth-child(5) {
	width: 10%
}

.mypg-qna-contents-table td:nth-child(6) {
	width: 10%
}

/*------------------------------------------------------------
	| 컨텐츠 설정 - profile_edit_2.jsp
-------------------------------------------------------------*/
.mypg-pfed2-contents-table {
	width: 100%;
	text-align: center;
	border-top: 1px solid #cdcbbe;
	border-bottom: 1px solid #cdcbbe;
	margin-top: 10px;
}

.mypg-contents-table span {
	font-weight: bold;
}

.mypg-pfed2-contents-table tr:nth-child(1),
.mypg-pfed2-contents-table tr:nth-child(2),
.mypg-pfed2-contents-table tr:nth-child(3),
.mypg-pfed2-contents-table tr:nth-child(5) {
	border-bottom: 1px solid #eceae1;
}

.mypg-pfed2-contents-table tr:nth-child(5) input:nth-child(1) {
	width: 200px;
}

.mypg-pfed2-contents-table td:nth-child(1) {
	font-weight: bold;
	width: 15%;
	background-color: #faf9f4;
	padding-left: 15px;
	text-align: left;
}

.mypg-pfed2-contents-table td:nth-child(2) {
	width: 85%;
	padding-left: 15px;
	text-align: left;
}

.mypg-pfed2-contents-table tr:nth-child(4) td:last-child,
.mypg-pfed2-contents-table tr:nth-child(6) td:last-child {
	padding-top: 8px;
}

.mypg-pfed2-contents-table tr:nth-child(5) td,
.mypg-pfed2-contents-table tr:nth-child(7) td {
	background-color: #fff;
}

#calling {
	width: 80px;
	height: 26px;
}
#email_select {
	width: 130px;
	height: 26px;
}

.mypg-pfed2-overlap {
	height: 26px;
	background-color: #7c6347;
	color: #f1ebd6;
}

.mypg-pfed2-contents-table input[type="radio"] {
	margin: 0 10px;
}

/*------------------------------------------------------------
	| 컨텐츠 설정 - withdraw_2.jsp
-------------------------------------------------------------*/
.mypg-wd-contents {
	height: auto;
	padding: 20px 20px 10px 25px;
	border: 1px solid #eceae1;
	background-color: #faf9f4;
}

.mypg-wd-contents p {
	padding: 5px 0;
}

.withdraw-msg-con {
	width: 100%;
	height: 100px;
	background-color: #9b7f5b;
	margin-top: 15px;
	padding: 20px 20px;
}

.withdraw-msg-con h3 {
	margin: 0 0 10px 0;
	color: #f1ebd6;
}

.mypg-wd-apply,
.mypg-wd-apply:hover {
	width: 68px;
	height: 30px;
	background-color: #3e2b2c;
	color: #f1ebd6;
	padding: 0;
	border-radius: 0;
}

/* body {
	-ms-overflow-style: none;	IE 10+
    overflow: hidden scroll;	Firefox
}

body::-webkit-scrollbar { 
    display: none;	Safari and Chrome
} */

/*------------------------------------------------------------
	| 컨텐츠 설정 - mypg_reservation_2.jsp
-------------------------------------------------------------*/
.mypg-rsvt2-title {
	margin: 0;
	font-weight: bold;
}

.mypg-rsvt2-txtbox {
	height: 35px;
	border: 1px solid #e9e9e9;
	background-color: #fbfbfb;
	margin: 15px 0 10px 0;
	padding-left: 20px;
	line-height: 35px;
}

.mypg-rsvt2-modal-link {
	display: inline !important;
	font-weight: bold;
	text-decoration: underline !important;
	color: #6e583e !important;
}

.mypg-rsvt2-title-1 {
	font-size: 15px !important;
	font-weight: bold;
	display: inline-block;
}

.mypg-rsvt2-bd {
	border: 1px solid #e3d6c6;
	padding: 20px 20px 50px 20px;
}

.mypg-rsvt2-bd div:nth-child(3) button {
	margin-top: 5px;;
}
/*--------------------- table-1 ------------------------*/
.mypg-rsvt2-contents-table {
	width: 100%;
	border-top: 1px solid #cdcbbe;
	border-bottom: 1px solid #cdcbbe;
}

.mypg-rsvt2-contents-table tr:nth-child(1) {
	min-height: 35px;
}

.mypg-rsvt2-contents-table tr:nth-child(1),
.mypg-rsvt2-contents-table tr:nth-child(2),
.mypg-rsvt2-contents-table tr:nth-child(3),
.mypg-rsvt2-contents-table tr:nth-child(4),
.mypg-rsvt2-contents-table tr:nth-child(5) {
	border-bottom: 1px solid #eceae1;
} 

.mypg-rsvt2-contents-table td {
	padding-left: 15px;
}

.mypg-rsvt2-contents-table td:nth-child(1),
.mypg-rsvt2-contents-table td:nth-child(3) {
	background-color: #faf9f4;
	color: #666666;
	font-weight: bold;
}
/*--------------------- table-2 ------------------------*/
.mypg-rsvt2-contents-table-2 {
	width: 100%;
	border-top: 1px solid #9c8874;
	margin-top: 20px;
}

.mypg-rsvt2-contents-table-2 tr td {
	padding: 0 20px;
}

.mypg-rsvt2-contents-table-2 tr:nth-child(2) {
	background-color: #fdf8ef;
	border: 1px solid #eceae1;
	color: #7e4f15;
	height: 45px;
}

.mypg-rsvt2-contents-table-2 tr:nth-child(3) {
	background-color: #a1886f;
	color: #fdf8ef;
	height: 45px;
}
/*--------------------- table-3 ------------------------*/
.mypg-rsvt2-contents-table-3 {
	width: 100%;
	border-top: 1px solid #cdcbbe;
	border-bottom: 1px solid #cdcbbe;
}

.mypg-rsvt2-contents-table-3 tr:nth-child(1) {
	border-bottom: 1px solid #eceae1;
} 

.mypg-rsvt2-contents-table-3 td {
	padding-left: 15px;
}

.mypg-rsvt2-contents-table-3 tr:nth-child(1) td:nth-child(1),
.mypg-rsvt2-contents-table-3 tr:nth-child(2) td:nth-child(1),
.mypg-rsvt2-contents-table-3 tr:nth-child(2) td:nth-child(3) {
	background-color: #faf9f4;
	color: #666666;
	font-weight: bold;
}
/*--------------------- table-4 ------------------------*/
.mypg-rsvt2-contents-table-4 {
	width: 100%;
	border-top: 1px solid #cdcbbe;
	border-bottom: 1px solid #cdcbbe;
}

.mypg-rsvt2-contents-table-4 td {
	padding-left: 15px;
}

.mypg-rsvt2-contents-table-4 tr td:nth-child(1) {
	background-color: #faf9f4;
	color: #666666;
	font-weight: bold;
}

.mypg-mb {
	margin-bottom: 40px;;
}

.mypg-rsvt2-list {
	width: 60px;
	height: 26px;
	background-color: #7c6347;
	color: #ffffff;
	padding: 0;
	border-radius: 0;
}
/*--------------------- cancel-modal ------------------------*/
.cancel-modal-content {
	background-color: #9b7f5b;
	width: 700px;
	height: 200px;
	padding: 5px;
}

.cancel-modal-content-header {
	height: 40px;
}

.cancel-modal-content-header h3 {
	height: 100%;
	color: #fff;
	display: inline-block;
	line-height: 40px;
	margin: 0 0 0 25px;
	
}

.cancel-modal-content-bottom {
	width: 690px;
	height: 150px;
	background-color: #fff;
	padding: 20px;
}

.cancel-modal-content-bottom h5 {
	margin: 0 0 10px;
	font-weight: bold;
}

.cancel-modal-content-bottom ul {
	padding: 0px;
}

.cancel-modal-close {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	width: 40px;
	height: 40px;
	line-height: 40px;
	padding: 0;
	margin: 0 10px 0 0;
}

.cancel-modal-close span {
	width: 100%;
	height: 100%;
	display: inline-block;
	font-size: 50px;
	color: #ffffff;
}

/*------------------------------------------------------------
	| 컨텐츠 설정 - qna_2.jsp
-------------------------------------------------------------*/
.mypg-qna2-contents-table {
	width: 100%;
	border-top: 1px solid #cdcbbe;
	border-bottom: 1px solid #cdcbbe;
}

.mypg-qna2-contents-table tr {
	height: 35px;
}

.mypg-qna2-contents-table td {
	padding-left: 15px;
}

.mypg-qna2-contents-table td:nth-child(1),
.mypg-qna2-contents-table td:nth-child(3) {
	background-color: #faf9f4;
	color: #666666;
	font-weight: bold;
}

.mypg-qna2-contents-table tr:nth-child(1),
.mypg-qna2-contents-table tr:nth-child(2),
.mypg-qna2-contents-table tr:nth-child(3),
.mypg-qna2-contents-table tr:nth-child(4),
.mypg-qna2-contents-table tr:nth-child(5) {
	border-bottom: 1px solid #eceae1;
} 