.modal-content {
	border: 5px solid #856f56;
}

.modal-header {
	background: #856f56;
}

.modal-title {
	color: #fff;
}

.modal-footer {
	text-align: center;
	margin: 20px auto;
}

.modal-footer1 {
	text-align: center;
	margin-bottom: 20px;
}

.rsv_useguide {
	background-color: #eeeeee;
	padding: 10px;
}
