.rsv_roomlistbox {
	width: 1200px;
	height: 375px;
	margin-top: 30px;
	border-bottom: 1px solid #c0b7ab;
}

.rsv_roomlist2 {
	border: 1px solid #c0b7ab;
	text-align: center;
}

.rsv_roommorebtn{
	margin: 20px;
}

.rsv_roomchobtn{
	margin-left:50px;
}

.rsv_roomlistbox2 {
	width: 1200px;
	height: 600px;
	margin-top: 30px;
	border-bottom: 1px solid #c0b7ab;
}


.clearfix:after {
	content: '';
	display: block;
	floot: none;
	clear: both;
}

.rlbox {
	
}
/* ================================================================================== */
.rsv_packagetextdiv{
	width: 1200px;
	height: 40px;
	background-color: #f4eee3;
}

.rsv_packagetextdiv_text {
	float: left;
	font-size: 20px;
	margin-left: 28px;
	margin-top: 5.5px;
	text-decoration-style: bold;
	font-weight: bold;
}

.rsv_packagetextdiv_text2 {
	float: right;
	margin-right: 28px;
	margin-top: 10px;
	text-align: center;
	color: rgba(100, 100, 100);
}

/* ================================================================================== */
.rsv_thumb {
	width: 212px;
	height: 118px;
	float: left;
	margin-bottom: 30px;
}

.rsv_thumb img {
	width: 100%;
	height: 100%;
}

.rsv_thumb2 {
	width: 100px;
	height: 100px;
	float: right;
}

.rsv_thumb2 img {
	width: 100%;
	height: 100%;
}
/* ================================================================================== */
.rsv_useguidebox {
	width: 150px;
	height: 35px;
	float: right;

}
/* ================================================================================== */
.rev_bedselect {
	width: 1200px;
	height : auto;
	float:left;
}
/* ================================================================================== */
.rsv_collapse {

	margin: auto;
}

.rsv_collapse-title {
	display: block;
	width: 1200;
	height: 55px;
	padding: 10px;
	color: #222;
	font-size: 18px;
	text-alignt: center;
	margin: 0;
	background: #faf9f4;
	border: 1px solid #81725f;
	text-decoration: none;
	font-weight: bold;
}


.rsv_selectbtn {
	margin-left: 540px;
    width: 120px;
    height: 50px;
    text-align: center;
    background-color: #3a3125;
    color: #ede6de;
}
/* ================================================================================== */
.rsv_content {
	height: 140px;
	padding: 10px 15px;
	font-size: 12px;
	border-left: 1px solid #81725f;
	border-right: 1px solid #81725f;
}

.rsv_content:last-child {
	border-bottom: 1px solid #81725f;
}


.rsv_content1_2 {
	border-top: 1px solid #81725f;
}
.rsv_content1-1-1 {
	float: left;
	margin-top: 15px;
	font-size: 16px;
}

.rsv_content1-1-2 {
	float: right;
	margin-bottom: 15px;
	font-size: 16px;
}

.rsv_content1-2-1 {
	float: left;
	margin: 20;
	font-size: 16px;
}

.rsv_content1-2-2 {
	float: right;
	font-size: 16px;
}
/* ================================================================================== */
.rsv_text {
	float: left;
	margin-top: 10px;
	margin-left: 25px;
}

.rsv_text_1 {
	font-size: 25px;
	list-style: none;
	text-align: left;
	margin-left: -45px;
	font-weight: bold;
}

.rsv_text2 {
	width: 150px;
	height: 40px;
	float: right;
}

.rsv_text2_0 {
	width: auto;
	height: auto;
	float: right;
}


.rsv_text_2 {
	list-style: none;
	text-align: left;
	margin-left: -45px;
}

.rsv_text2_1 {
	width: 115px;
	height: 35px;
	float: right;
	padding-right: 25px;
	font-size: 25px;
	list-style: none;
	text-align: right;
	margin-right: 15px;
}

.rsv_text2_2 {
	float: right;
	padding-right: 25px;
	list-style: none;
	text-align: right;
	color: rgba(100, 100, 100);
	margin-right: -5px;
}
/* ================================================================================== */
.rsv_modal2img {
	width: 450px;
	height: 70px;
}

.rsv_modal2img img {
	width: 100%;
	height: 100%;
}


/* ================================================================================== */




